html,
body {
   padding: 0;
   margin: 0 auto;
   line-height: 1.6;
   font-size: 18px;
   font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
   background-color: darkcyan;
   max-width: 980px;

}

* {
   box-sizing: border-box;
}

a {
   color: #fff;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}