html,
body {
   margin: 0;
   padding: 0;
   line-height: 1.6;
   font-size: 18px;
   font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
   background-color: darkcyan;
}

* {
   box-sizing: border-box;
}

h1 {
   text-align: center;
}

a {
   color: #fff;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: black;
   color: #fff;
   margin: 0;
}

header a {
   margin-right: 10px;
   font-size: 1.2rem;
}

main {
   margin: 0 auto;
   max-width: 980px;
}
